## --- Dependencias (pnpm) ---
#.pnpm-debug.log*
#.pnpm-store/

# --- Docker ---
# Ignoramos archivos de datos de contenedores si usas volúmenes locales
.docker/
# Si guardas variables de entorno sensibles
.env
.env.local
.env.*.local

# --- Editor / Sistema Operativo ---
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
